.error {
    color: #ffae00;
    font-weight: 600;
    font-size: 12px;
}

label.error {
    text-align: center;
}

input[name="company_logo"] {
    width: 80%;
    margin: 4% 10% !important;
    padding: 0px 5px;
}

.card .card-body {
    padding: 1.25rem;
}

.table>thead>tr>th {
    font-size: 1em;
    font-weight: 600;
}

.user-header-row,
.user-header-row>* {
    margin-bottom: -1%;
}

.user-header-row>.col-md-3>.fa {
    font-size: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}

.user-header-row>.col-md-3>.fa:hover {
    color: #2ca8ff !important;
}

img:hover {
    cursor: pointer;
}

.modal-header {
    padding: 0px 10px 10px 5px;
    background: #2CA8FF;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.modal-header>h5 {
    margin-top: 10px;
}

.modal-footer {
    padding: 5px;
}

.modal-footer>button {
    margin: 0;
}

.pr-1 {
    padding-left: 4px;
}

.form-control {
    border: 2px solid #E3E3E3;
}

.form-control:focus {
    border: 2px solid #f96332;
}

textarea.form-control {
    border-bottom: 2px solid #E3E3E3;
}

.card label {
    font-weight: 600;
}

.margin_0_auto {
    margin: 0 auto;
}

#collapselist {
    padding: 0px 13px!important;
}

#collapselist ul {
    padding: 8px 13px!important;
    margin: 5px 8px;
    border-radius: 10px;
}

.sidebar #collapselist ul li a {
    margin: 0px 2px;
}

.sidebar #collapselist ul li a:hover,
.sidebar #collapselist ul li a:active,
.sidebar #collapselist ul li a:focus,
.sidebar #collapselist ul li a:visited {
    background: rgba(255, 255, 255, 0.1);
}

li a.arrow span.fa-caret-down {
    padding-left: 15px;
}